.video-host {
    text-align: center;
    height: 500px;
    background-color: hsla(196, 28%, 76%, 0.43)
}

.video-host img {
    padding-top: 25px;
    width: 800px;
    height: 450px;
}

.title-host h3 {
    text-align: end;
    color: hsla(197, 53%, 53%, 1);
}

#start-playback {
    margin-top: 4px;
}

.match-line-neutral {
    border: none;
    height: 5px;
    width: 100%;
    background-color: #fff;
}

.match-line-matched {
    background-color: green;
}

.match-line-failed {
    background-color: red;
}